<html>

<body>

    <head>
        <meta name="description" content="Test for Battery Status API" />
        <title>Demo集合</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="/stylesheets/style.css"></link>
        <link rel="stylesheet" href="/stylesheets/calendar.css"></link>
        <script src="/js/vue.js"></script>
    </head>
    <style type="text/css">
        * {
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            text-size-adjust: none
        }
    </style>

    <body>
        <nav class="navi">
            <div class="logo">Demo.codefilled</div>
            <div class="menu">
                <div class="menu-item">Intro</div>
                <div class="menu-item">Explore</div>
                <div class="menu-item">About</div>
            </div>
        </nav>
        <div class="page-propaganda">

            <div id="calendar">
                <h3></h3>
                <ul id="date-list">
                    <li></li>
                    <li v-for="date in dates" v-bind:class="date.class" v-bind:title="date.message">{{date.text}}<i>{{date.day}}</i></li>
                </ul>
                <h4>特殊还款日期：</h4>
                <ul>
                    <li v-for="spec in special">
                        {{spec}}
                    </li>
                </ul>
                <input type="text" v-model="message">
                <button v-on:click="addSpecial">输入</button>
                <!-- <p>{{message}}</p> -->
            </div>
        </div>
        <div class="stock" id="stockTable">
            <table>
                <thead>
                    <tr>
                        <th colspan="2" style="width: 299px;">Largest Daily Point Losses&nbsp;</th>
                        <th style="width: 135px;">&nbsp;</th>
                        <th style="width: 10px;">&nbsp;</th>
                        <th colspan="3" style="width: 571px;">Largest Daily Percentage Losses&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 145px;">Date</td>
                        <td style="width: 154px;">Net Change</td>
                        <td style="width: 135px;">% Change</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">Date</td>
                        <td style="width: 155px;">Net Change</td>
                        <td style="width: 145px;">% Change&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">2/5/2018</td>
                        <td style="width: 154px;">-1,175.21</td>
                        <td style="width: 135px;">-4.60%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/19/1987</td>
                        <td style="width: 155px;">-508</td>
                        <td style="width: 145px;">-22.61%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">2/8/2018</td>
                        <td style="width: 154px;">-1,032.89</td>
                        <td style="width: 135px;">-4.15%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/28/1929</td>
                        <td style="width: 155px;">-38.33</td>
                        <td style="width: 145px;">-12.82%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">9/29/2008</td>
                        <td style="width: 154px;">-777.68</td>
                        <td style="width: 135px;">-6.98%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">12/18/1899</td>
                        <td style="width: 155px;">-7.94</td>
                        <td style="width: 145px;">-11.99%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/15/2008</td>
                        <td style="width: 154px;">-733.08</td>
                        <td style="width: 135px;">-7.87%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/29/1929</td>
                        <td style="width: 155px;">-30.57</td>
                        <td style="width: 145px;">-11.73%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">9/17/2001</td>
                        <td style="width: 154px;">-684.81</td>
                        <td style="width: 135px;">-7.13%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">11/6/1929</td>
                        <td style="width: 155px;">-25.55</td>
                        <td style="width: 145px;">-9.92%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">12/1/2008</td>
                        <td style="width: 154px;">-679.95</td>
                        <td style="width: 135px;">-7.70%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">8/12/1932</td>
                        <td style="width: 155px;">-5.79</td>
                        <td style="width: 145px;">-8.40%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/9/2008</td>
                        <td style="width: 154px;">-678.91</td>
                        <td style="width: 135px;">-7.33%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">3/14/1907</td>
                        <td style="width: 155px;">-6.89</td>
                        <td style="width: 145px;">-8.29%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">2/2/2018</td>
                        <td style="width: 154px;">-665.75</td>
                        <td style="width: 135px;">-2.54%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/26/1987</td>
                        <td style="width: 155px;">-156.83</td>
                        <td style="width: 145px;">-8.04%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/8/2011</td>
                        <td style="width: 154px;">-634.76</td>
                        <td style="width: 135px;">-5.55%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/15/2008</td>
                        <td style="width: 155px;">-733.08</td>
                        <td style="width: 145px;">-7.87%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">4/14/2000</td>
                        <td style="width: 154px;">-617.77</td>
                        <td style="width: 135px;">-5.66%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">7/21/1933</td>
                        <td style="width: 155px;">-7.55</td>
                        <td style="width: 145px;">-7.84%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">6/24/2016</td>
                        <td style="width: 154px;">-610.32</td>
                        <td style="width: 135px;">-3.39%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/18/1937</td>
                        <td style="width: 155px;">-10.57</td>
                        <td style="width: 145px;">-7.75%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/24/2015</td>
                        <td style="width: 154px;">-588.4</td>
                        <td style="width: 135px;">-3.57%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">12/1/2008</td>
                        <td style="width: 155px;">-679.95</td>
                        <td style="width: 145px;">-7.70%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/27/1997</td>
                        <td style="width: 154px;">-554.26</td>
                        <td style="width: 135px;">-7.18%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/9/2008</td>
                        <td style="width: 155px;">-678.91</td>
                        <td style="width: 145px;">-7.33%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/21/2015</td>
                        <td style="width: 154px;">-530.94</td>
                        <td style="width: 135px;">-3.12%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">2/1/1917</td>
                        <td style="width: 155px;">-6.91</td>
                        <td style="width: 145px;">-7.24%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/10/2011</td>
                        <td style="width: 154px;">-519.83</td>
                        <td style="width: 135px;">-4.62%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/27/1997</td>
                        <td style="width: 155px;">-554.26</td>
                        <td style="width: 145px;">-7.18%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/22/2008</td>
                        <td style="width: 154px;">-514.45</td>
                        <td style="width: 135px;">-5.69%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">10/5/1932</td>
                        <td style="width: 155px;">-5.09</td>
                        <td style="width: 145px;">-7.15%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/4/2011</td>
                        <td style="width: 154px;">-512.76</td>
                        <td style="width: 135px;">-4.31%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">9/17/2001</td>
                        <td style="width: 155px;">-684.81</td>
                        <td style="width: 145px;">-7.13%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">8/31/1998</td>
                        <td style="width: 154px;">-512.62</td>
                        <td style="width: 135px;">-6.37%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">9/24/1931</td>
                        <td style="width: 155px;">-8.2</td>
                        <td style="width: 145px;">-7.07%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/7/2008</td>
                        <td style="width: 154px;">-508.39</td>
                        <td style="width: 135px;">-5.11%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">7/20/1933</td>
                        <td style="width: 155px;">-7.32</td>
                        <td style="width: 145px;">-7.07%</td>
                    </tr>
                    <tr>
                        <td style="width: 145px;">10/19/1987</td>
                        <td style="width: 154px;">-508</td>
                        <td style="width: 135px;">-22.61%</td>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 271px;">9/29/2008</td>
                        <td style="width: 155px;">-777.68</td>
                        <td style="width: 145px;">-6.98%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            var addClass = function(obj, cls) {
                var obj_class = obj.className, //获取 class 内容.
                      blank = (obj_class != '') ? ' ' : ''; //判断获取到的 class 是否为空, 如果不为空在前面加个'空格'.
                  
                added = obj_class + blank + cls; //组合原来的 class 和需要添加的 class.  
                obj.className = added; //替换原来的 class.
            }
            var calendar = new Vue({
                el: '#calendar',
                data: {
                    message: '3',
                    todos: [],
                    dates: [],
                    special: [8, 10, 15, 17, 20, 26, 27]
                },
                methods: {
                    plus: function(callback) {
                        var className, newday,
                            date = new Date(),
                            strdate = date.getDate(),
                            month = date.getMonth(),
                            month = month + 1,
                            year = date.getFullYear(),
                            hour = date.getHours(),
                            minutes = date.getMinutes(),
                            seconds = date.getSeconds(),
                            day = date.getDay(),
                            day = "星期" + "日一二三四五六".charAt(day);


                        var isLeapYear = year % 4 === 0 ? true : false;

                        if (isLeapYear && month == 2) {
                            var trueDay = 29;
                        } else {
                            if (month == 2) {
                                var trueDay = 28;
                            } else {
                                var trueDay = month <= 7 ? (month % 2 === 0 ? 30 : 31) : (month % 2 === 0 ? 31 : 30);
                            }
                        }

                        for (var i = 1; i <= trueDay; i++) {
                            if (i === strdate) {
                                className = 'current';
                                newday = day;
                            } else {
                                if (this.special.indexOf(i) >= 0) {
                                    className = ' special';
                                    newday = '';
                                } else {
                                    className = '';
                                    newday = '';
                                }
                            }

                            var specialText = this.specialDay(i);
                            this.dates.push({
                                text: i,
                                class: className,
                                day: newday,
                                message: specialText
                            });
                        }
                        if (callback) {
                            var text = year + '年' + month + '月' + strdate + '日 ' + hour + '点' + minutes + '分' + seconds + '秒';
                            callback(text);
                        }
                    },

                    specialDay: function(index) {
                        switch (index) {
                            case 8:
                                var text = '浦发信用卡';
                                break;
                            case 10:
                                var text = '支付宝花呗';
                                break;
                            case 15:
                                var text = '招商银行闪电贷+民生银行备用金';
                                break;
                            case 17:
                                var text = '小米金融还款';
                                break;
                            case 20:
                                var text = '南京银行信用贷';
                                break;
                            case 26:
                                var text = '北京农商银行房贷';
                                break;
                            case 27:
                                var text = '招商银行信用卡+京东白条';
                                break;
                            default:
                                var text = '';
                        }
                        return text;
                    },

                    showTime: function(text) {
                        this.$el.children[0].innerHTML = text;
                    },

                    addSpecial: function() {
                        console.log(this.message);
                        var newNum = parseInt(this.message);
                        if (newNum > 0 && newNum < 29) {
                            if (this.special.indexOf(newNum) < 0) {
                                this.special.push(newNum);
                            } else {
                                alert('已经有重复的数字');
                            }
                        } else {
                            alert('请输入合适的数字');
                        }
                    }

                }
            });
            calendar.plus(calendar.showTime);
        </script>
        <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
        <script type="text/javascript">
        </script>
    </body>

</html>