<html>
  <body>
  <head>
    <meta name="description" content="Test for Battery Status API"/>
    <title>Demo集合</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  </head>
  <style type="text/css">
    * {
      -webkit-text-size-adjust : none ;
      -moz-text-size-adjust : none ;
      -ms-text-size-adjust : none ;
      text-size-adjust : none
    }
  </style>
  <body>
    <h1><a href="http://codefilled.com">Codefilled.com</a></h1>

    <h2>Demo集合</h2>
    <ul>
      <li><a href="/battery">H5🔋电池 API<a/></li>
      <li><a href="/geolocation">腾讯异步定位组件demo<a/></li>
      <li><a href="/geolocation/location">腾讯定位组件demo<a/></li>
      <li><a href="/geolocation/maps">腾讯定位携带地图展示demo<a/></li>
      <li><a href="/webp">webp图片Demo<a/></li>
      <li><a href="/">Nodejs读写redis Demo<a/></li>
    </ul>
    <div>
        <button type="button" id="logs">发logs</button>
    </div>
    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script type="text/javascript">
      $("body").on('click','#logs',function(){
          var ua = navigator.userAgent;
              param = '?id=312&time=999&ua' + encodeURIComponent(ua);
          $.ajax({type: 'GET',
                url:'/logs'+ param,
                success:function(data) {
                   console.log("send success!");
                }
            });
      });
    </script>
  </body>
</html>