<html>

<body>

    <head>
        <meta name="description" content="Test for Battery Status API" />
        <title>Demo集合</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="/stylesheets/style.css"></link>
    </head>
    <style type="text/css">
        * {
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            text-size-adjust: none
        }
    </style>

    <body>
        <nav class="navi">
            <div class="logo">Demo.codefilled</div>
            <div class="menu">
                <div class="menu-item">Intro</div>
                <div class="menu-item">Explore</div>
                <div class="menu-item">About</div>
            </div>
        </nav>
        <div class="page-propaganda" style="display:none;">
            <h2></h2>
        </div>
        <ul class="demo-gallery">
            <li><a href="/battery">H5🔋电池 API<a/></li>
      <li><a href="/geolocation">腾讯异步定位组件demo<a/></li>
      <li><a href="/geolocation/location">官网首页开发练习—zh学习<a/></li>
      <li><a href="/geolocation/maps">腾讯定位携带地图展示demo<a/></li>
      <li><a href="/webp">webp图片Demo<a/></li>
      <li><a href="/">Nodejs读写redis Demo<a/></li>
      <li><a href="/financing">还款日历📅<a/></li>
    </ul>
    <script src="/js/vue.js"></script>
    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>