<html>
  <body>
  <head>
    <meta name="description" content="Test for Battery Status API"/>
    <title>Demo集合</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  </head>
  <body>
    <h1><a href="http://codefilled.com">Codefilled.com</a></h1>

    <h2>Demo集合</h2>
    <ul>
      <li><a href="/battery">H5🔋电池 API<a/></li>
      <li><a href="/geolocation">腾讯定位组件demo<a/></li>
      <li><a href="/geolocation/maps">腾讯定位携带地图展示demo<a/></li>
    </ul>
  </body>
</html>