<html>
  <body>
  <head>
    <meta name="description" content="Test for Battery Status API"/>
    <title>Demo集合</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  </head>

  <style type="text/css">
    *{
    	margin: 0;
    	padding: 0;
    }

    body {
    	background-color: #FFF;
    	margin: 20px;
    }

    h4 {
    	margin: 20px 0;
    }
    .gallery {
    	height: 230px;
    	list-style: none;
    	margin-bottom: 20px;
    	overflow: hidden;
    	display: block;
    }

    .gallery li {
    	float: left;
    	margin-right: 30px;
    }

    .gallery li span{
    	display: block;
    	margin-top: 10px;
    	text-align: center;
    }

    .gallery li img {
    	display: block;
    	max-height: 200px;
    	max-width: 350px;
    }

    .transparent {
    	background: url(../images/transparent.png);
	}

	.change-bg {
		width: 60px;
		height: 180px;
		position: fixed;
		top: 20px;
		right: 0;
		background: #efefef;
	} 

	.change-bg div {
		margin: 10px auto;
	}

	.cub {
		width: 30px;
		height: 30px;
	}

	.red {
		
		background-color: #ff0000;
	}

	.blue {
		background-color: blue;
	}

	.green {
		background-color: green;
	}


  </style>
  <body>
    
    <h2>webp图片和非webp图片对比</h2>
    <h4>Banner头图</h4>
    <ul class="gallery">
      <li><img src="https://p1.meituan.net/codeman/7dcf30f031ecefe28c167a7966e538d6351853.png">
      		<span>原图（343KB）</span>
      </li>
      <li><img src="https://p1.meituan.net/codeman/7dcf30f031ecefe28c167a7966e538d6351853.png.webp">
      	<span>webp图片（53.9KB）</span></li>
    </ul>
    <h4>POI商家图</h4>
    <ul class="gallery">
      <li>
      	<img src="https://p0.meituan.net/270.176.90/xianfu/29d08e14098979a7d408b5b7ec30e02894208.jpg">
      	<span>原图（13.3KB）</span>
  	  </li>
      <li>
      	<img src="https://p0.meituan.net/270.176.90/xianfu/29d08e14098979a7d408b5b7ec30e02894208.jpg.webp">
      	<span>webp图片（10.4KB）</span>
      </li>
    </ul>
    <h4>品牌文字logo</h4>
    <ul class="gallery">
      <li>
      	<img src="https://p0.meituan.net/150.120.90/xianfu/459c7ff0f5468eda85c96791cf5e145c14336.jpg">
      	<span>原图（5.3KB）</span>
  	  </li>
      <li>
      	<img src="https://p0.meituan.net/150.120.90/xianfu/459c7ff0f5468eda85c96791cf5e145c14336.jpg.webp">
      	<span>webp图片（3.8KB）</span>
      </li>
    </ul>
    <h4>规则说明图</h4>
    <ul class="gallery">
      <li><img src="https://p0.meituan.net/codeman/6451e7bcc23281ba0a655cd461af8cea14166.png">
      <span>原图（21.8KB）</span></li>
      <li><img src="https://p0.meituan.net/codeman/6451e7bcc23281ba0a655cd461af8cea14166.png.webp">
      <span>webp图片（14.2KB）</span></li>
    </ul>
    <h4>背景半透明展示图</h4>
    <ul class="gallery">
      <li><img src="https://p1.meituan.net/codeman/5045debe4ec6a12cf45968414f57773d10836.png">
      <span>原图（11.8KB）</span></li>
      <li><img src="https://p1.meituan.net/codeman/5045debe4ec6a12cf45968414f57773d10836.png.webp">
      <span>webp图片（5.3KB）</span></li>
    </ul>

	<h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p1.meituan.net/codeman/997f11a7f3217c2248df7a96d9b670ec164808.png">
      <span>原图（162KB）</span></li>
      <li><img src="https://p1.meituan.net/codeman/997f11a7f3217c2248df7a96d9b670ec164808.png.webp">
      <span>webp图片（116KB）</span></li>
    </ul>

    <h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p1.meituan.net/codeman/dd818e5c7602a63f83aea7c1d108e827207559.png">
      <span>原图（204KB）</span></li>
      <li><img src="https://p1.meituan.net/codeman/dd818e5c7602a63f83aea7c1d108e827207559.png.webp">
      <span>webp图片（60.3KB）</span></li>
    </ul>

    <h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p0.meituan.net/codeman/158d84843399dc0c9df5945816e87869132040.jpg">
      <span>原图（126KB）</span></li>
      <li><img src="https://p0.meituan.net/codeman/158d84843399dc0c9df5945816e87869132040.jpg.webp">
      <span>webp图片（64.8KB）</span></li>
    </ul>

	<h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p0.meituan.net/codeman/17167fdd425fe3245070976787f7a8d2485886.png">
      <span>原图(458KB)</span></li>
      <li><img src="https://p0.meituan.net/codeman/17167fdd425fe3245070976787f7a8d2485886.png.webp">
      <span>webp图片(65.6KB)</span></li>
    </ul>


    <h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p0.meituan.net/codeman/3307afe5d00e91665e620fdc897bcfff49130.png">
      <span>原图(50KB)</span></li>
      <li><img src="https://p0.meituan.net/codeman/3307afe5d00e91665e620fdc897bcfff49130.png.webp">
      <span>webp图片(21.6KB)</span></li>
    </ul>
    
    <h4>归档</h4>
    <ul class="gallery">
      <li><img src="https://p0.meituan.net/codeman/bdd53ae9f0dd7d49ef4d00e65f4e4b9875457.png">
      <span>原图(74.6KB)</span></li>
      <li><img src="https://p0.meituan.net/codeman/bdd53ae9f0dd7d49ef4d00e65f4e4b9875457.png.webp">
      <span>webp图片(59KB)</span></li>
    </ul>

    <div class="change-bg">
    	<div class="cub red">
    	</div>
    	<div class="cub transparent">
    	</div>
    	<div class="cub blue">
    	</div>
    	<div class="cub green">
    	</div>
    </div>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/zepto/1.1.4/zepto.js"></script>
    <script type="text/javascript">

    	$("body").on('click','.red',function() {
    		var me = $(this);
    		me.parents("body").removeAttr("class").addClass("red");
    	}).on("click",".transparent",function() {
    		var me = $(this);
    		me.parents("body").removeAttr("class").addClass("transparent");
    	}).on("click",".blue",function() {
    		var me = $(this);
    		me.parents("body").removeAttr("class").addClass("blue");
    	}).on("click",".green",function() {
    		var me = $(this);
    		me.parents("body").removeAttr("class").addClass("green");
    	});

    </script>
    <script>
      function ajax(options) {
          var url = options.url || '',
              type = options.type || 'GET',
              data = options.data || {},
              dataType = options.dataType,
              callback = options.success || function(){};

          var xhr = new XMLHttpRequest();
            xhr.open(type,url,true);
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4){
                    if((xhr.status >=200 && xhr.status < 300 ) || xhr.status == 304){
                        if(xhr.response!=''){
                            if(dataType == 'json') {
                                callback(JSON.parse(xhr.response));
                            } else {
                              callback(xhr.response);  
                            }
                            return;
                        }
                    }
                }
            };

            if (type == 'GET' && url.split("?")[1]) {
              xhr.send(url.split("?")[1]);
            } else if(type == 'POST') {
              xhr.send(data);
            } else {
              xhr.send(null);  
            }
      }

      ajax({
        url:"https://appfirsttest.mybluemix.net/first_test?_id=b0cc000791e5e056567e3c2a1fbee828",
        type: "GET",
        dataType: "json",
        success: function(data){
          console.log(data);
        }
      });  
       
    </script>

  </body>
</html>