#calendar {
    width: 75%;
    height: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calendar h3 {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

#calendar ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#calendar ul li {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 14.28%;
    text-align: center;
    /* margin-bottom: 10px; */
    position: relative;
}

#calendar ul li i {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 50%;
    height: 15px;
    line-height: 15px;
    font-style: normal;
    transform: translateX(-50%);
    color: #000;
}

#calendar .current {
    color: #fff;
}

#calendar ul .current:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 25px;
    top: 50%;
    left: 50%;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#app {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}